# db file
*.sqlite3


# environment variables
*env

# virtual env
*venv

# binary files
*__pycache__

# migrations file
*migrations

# audio files
*mp3
*ogg
*wav

# video files
*mp4
*mkv
*mpeg
*3pg

*jpg

# generated .txt, .srt files
*txt
*srt